* {
    border: none;
    border-radius: 0;
    min-height: 0;
    margin: 0;
    padding: 0;
}

#waybar {
    font-family:   Cantarell, Hack Nerd Font;
    font-weight: 600;
    font-size:     100%;
    color: whitesmoke;
    box-shadow:    none;
    text-shadow:   none;
    transition-duration: 0s;
}

#tray menu {
    color: whitesmoke;
    background-color: rgba(35, 31, 32, 0.9);
    font-size: 13px;
}

#tray menu menuitem {
    padding-top: 3px;
    padding-bottom: 3px;
    font-size: 13px;
}

window {
    background: rgba(35, 31, 32, 0.9);
}

#workspaces {
    background-color: rgba(61, 55, 55, 0.562);
}

#workspaces button {
    border-top: 2px solid transparent;
    color: #858585;
    padding:    0px 10px 2px 10px;
}

#workspaces button.active {
    border-color: whitesmoke;
    color: whitesmoke;
}

button:hover {
    box-shadow: none;
    text-shadow: none;
    background: rgb(99, 99, 99);
    transition: none;   
}

#workspaces button.urgent {
    border-color: palevioletred;
    color: palevioletred;
}

#mode, #battery, #memory, #network, #pulseaudio {
    margin:     0px 6px 0px 6px;
    min-width:  30px;
}

#cpu, #temperature {
    margin:     0px 6px 0px 6px;
    min-width:  30px;
}

#tray {
    padding-left: 6px;
    padding-right: 6px;
}

#memory, #cpu, #network, #temperature, #pulseaudio, #battery {
    font-size: 13px;
}


#clock {
    margin: 0px 8px 0px 0px;
}

#battery.warning {
    color: gold;
}

#battery.critical {
    color:palevioletred;
}

#battery.charging {
    color:turquoise;
}
